.collection {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(6rem, 100%), 1fr));
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    padding: 5%;
    padding-top: 15%;
    border-radius: 25px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 700px) {
    .collection {
        padding-top: 28%;
        padding-bottom: 15%;
    }
}