.iconsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    height: 80vh;
    overflow: auto;
}

@media (max-width: 800px) {
    .iconsContainer {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }
}