@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

.container-s {
    padding: 5% 5%;
}

.even-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(6rem, 100%), 1fr));
    padding: 3% 0;
}

.even-cols-generate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}

.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: var(--btn-color);
    color: var(--btn-font-color);
    cursor: pointer;
    transition: all 0.25s;
}

.btn:hover {
    color: var(--font-color);
    border-color: black;
    background-color: transparent;
}

.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.animatedTitle {
    font-weight: bold;
    animation: color-animation 4s linear infinite;
}

.animatedText:nth-child(1) {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.animatedText:nth-child(2) {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

.animatedText:nth-child(3) {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

.animatedText:nth-child(4) {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}

.blur-white {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(33px);
}

.blur-dark {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(33px);
    border-radius: 25px;
}

.page-transition {
    animation: entry 1s;
}

.loading {
    animation: spin 2s infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}

@keyframes entry {
    from {
        padding: 0
    }

    to {
        padding: 7% 8%;
    }
}

@keyframes entryMobile {
    from {
        padding: 0
    }

    to {
        padding: 20% 2%;
    }
}

@media (max-width: 650px) {
    .page-transition {
        animation: entryMobile 1s;
    }
}