.homePage {
    /* background-image: url('/stare.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    min-height: 100%;
    padding: 8%;
    padding-top: 5%;
    /* box-sizing: border-box; */
}

.sectionBg {
    /* background-image: ; */
}