.cutoffText {
    --lineBreak: 3;
    display: -webkit-box;
    -webkit-line-clamp: var(--lineBreak);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.iconsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 2%;
    padding: 5%;
    border-radius: 15px;
    height: 100%;
    overflow: auto;
}

@media (max-width: 800px) {
    .iconsContainer {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }
}