.pricingContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(21rem, 100%), 1fr));
    row-gap: 2%;
}

@media (max-width: 800px) {
    .pricingContainer {
        padding-block: 25%;
        padding-top: 0%;
        row-gap: 3%;
    }
}