/* #root {
    --max-width: 1480px;
    max-width: var(--max-width);
} */

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    min-height: 100vh;
    /* background-color: var(--bg-color); */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 15%;
    position: relative;
    margin-top: 3.5rem;
}

/* Hide horizontal scroll bar */
main {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

main::-webkit-scrollbar {
    width: 0px;
    /* For Chrome, Safari, and Opera */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@media (max-width: 800px) {
    main {
        margin-top: 4.5rem;
    }

    .container {
        padding: 5% 2%;
    }

    .containerNarrow {
        padding: 5% 5%;
    }
}